<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" border="">


        <ng-container matColumnDef="name">
            <!-- <th mat-header-cell *matHeaderCellDef> Title </th> -->

            <td height="100px" mat-cell *matCellDef="let element">
                <a href="/#/product/{{element.id}}" target="_blank" style="text-decoration:none;">
                    <div>
                        <img width="100" align="left" src="{{element.photoLink}}" />
                        <div style="padding-bottom:10px">
                            <font size="2px" style="font-weight:bold">{{element.title}}</font>
                        </div>
                        <font color="red" style="font-weight:bold">{{element.price}}{{element.priceTag}}</font><br>
                        <font color="grey">{{element.channel}} | {{element.time}}</font>
                        <!-- <br><a href="/#/product/{{element.id}}" target="_blank"><button style="float: right" mat-raised-button color="warn">去购买
                </button></a> -->
                    </div>
                </a>
            </td>

        </ng-container>


        <ng-container matColumnDef="weight">
            <td mat-cell *matCellDef="let element "> {{element.price}} </td>
        </ng-container>

        <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>

    </table>
    <div class="mat-elevation-z8" style="text-align:center">
        <!-- <button mat-raised-button color="primary" style="margin:20px auto ">上一页</button> -->
        <button mat-raised-button color="" style="margin:20px auto " (click)="clicknextpage() " *ngIf="!searchmode">继续加载</button>
        <a href=""><button mat-raised-button color="" style="margin:20px auto " *ngIf="searchmode">返回</button></a>
        <br><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502009662" target="_blank"><i></i>沪公安备31011502009662号</a>
        <br><a href="" target="_blank"><i></i>沪ICP备19023961号</a>
        <br><a href="http://wap.scjgj.sh.gov.cn/businessCheck/verifKey.do?showType=extShow&serial=9031000020190702094915000004807498-SAIC_SHOW_310000-2c9be8bd6f7928c3016faf154bcc1f5a405&signData=MEUCIQDSdRhyMuZM578R5IsvdWA5BqOzm52viNJ6rtTzkWIWJgIgIdrdGKY4qDgz0zH3oOqGVNbYj+2FwRsl3nNDvNLdm4A="
            target="_blank"><i></i>营业执照</a>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20] " showFirstLastButtons></mat-paginator> -->

</div>