<ul role="list" class="comment-list">
    <li role="listitem" class="comment-list-item" *ngFor="let comment of comments">
        <div>
            <span style="color:blue">{{comment.authorName}}:</span>
            <span (click)="selectComment(comment)">{{comment.content}}</span>
        </div>
        <div *ngIf="comment.replys">
            <ul role="list" class="comment-list" style="padding-left: 14px">
                <li role="listitem" class="reply-list-item" *ngFor="let reply of comment.replys">
                    <span style="color:blue">{{reply.authorName}} {{reply.replyAuthorName?'> '+reply.replyAuthorName:''}}:</span>
                    <span (click)="selectComment(comment, reply)">{{reply.content}}</span>
                </li>
            </ul>
        </div>
        <mat-divider ></mat-divider>
    </li>
</ul>

<form id="dialogForm" class="ibm-row-form" method="post" (ngSubmit)="submitComment()" #dialogForm1="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>写下你的评论</mat-label>
        <input [(ngModel)]="currentcomment" matInput id="comment" name="comment" required style="width:100px">
    </mat-form-field>
    <button type="submit" mat-raised-button color="" style="margin:20px auto;left:10px" [disabled]="!dialogForm1.form.valid">提交</button>
</form>


<button mat-raised-button color="" style="margin:20px auto ">加载更多</button>